.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.pnpm-store/**
*.vsix
out/components/**
out/services/**
